<div class="text-center jumbotron">
  <div class="layer">
    <div class="container my-0">
      <header class="d-flex flex-wrap justify-content-center py-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4 text-light">Analytica</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link text-light">Find Tenders</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-light">RFQs</a></li>
          <li class="nav-item"><%= link_to 'Contact us', contact_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to 'About us', about_path, class: "nav-link text-light" %></li>
        </ul>

        <div class="text-end">
          <%= link_to 'Login', new_company_session_path, class: 'btn btn-outline-light me-2' %>
          <%= link_to 'Sign up', new_company_registration_url, class: 'btn btn-light' %>
        </div>
      </header>
    </div>
  </div>

  <div class="col-xxl-10 layer px-4 py-5 text-light">
    <h1 class="display-4 fw-bold mb-3">Explore the World of Procurement</h1>
    <div class="col-lg-6 mx-auto my-sm-3">
      <p class="lead mb-lg-5">
        Unlock opportunities, streamline processes, and discover the power of efficient
        procurement with Analytica. Dive into a world of tenders, RFQs, and auctions, and
        transform your procurement experience today.
      </p>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">RFQ Board</button>
      <button type="button" class="btn btn-outline-light btn-lg px-4">Tenders Board</button>
    </div>
  </div>
</div>

<div class="bg-secondary-subtle px-4 pb-5 pt-3 mb-5">
  <h1 class="display-4 text-center fw-semibold my-3 text-dark-emphasis">Discover Our Features</h1>
  <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="bi-arrow-repeat"></i>
      </div>
      <h2 class="text-primary">Reverse Auction</h2>
      <p class="text-light-emphasis">
        <strong>Discover the potential of reverse auctions in procurement:</strong>
        Our platform unveils a powerful strategy to maximize savings and
        efficiency through innovative bidding methods. Elevate your procurement
        process with our solution.
      </p>
      <%= link_to new_company_registration_path, class: 'icon-link d-flex' do %>
        <span>
          Sign up to explore
          <i class="ms-1 bi-chevron-right"></i>
        </span>
      <% end %>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="bi-file-text"></i>
      </div>
      <h2 class="text-primary">Request for Quotations (RFQ)</h2>
      <p class="text-light-emphasis">
        <strong>Enhance procurement efficiency with our RFQ platform:</strong> Seamlessly request quotes,
        compare supplier offers, negotiate terms, and drive cost savings. Elevate your sourcing
        strategy with our RFQ solution.
      </p>
      <%= link_to new_company_registration_path, class: 'icon-link d-flex' do %>
        <span>
          Visit the board
          <i class="ms-1 bi-chevron-right"></i>
        </span>
      <% end %>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <i class="bi-toggles2"></i>
      </div>
      <h2 class="text-primary">Logistics</h2>
      <p class="text-light-emphasis">
        <strong>Explore opportunities on our Logistics Jobs Board:</strong>
        Find the latest logistics roles,
        connect with employers, and advance your career in the logistics industry. Your
        gateway to logistics job success awaits!
      </p>
      <%= link_to new_company_registration_path, class: 'icon-link d-flex' do %>
        <span>
          Visit the board
          <i class="ms-1 bi-chevron-right"></i>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="container bg-white">
  <h2 class="m-5 text-center display-4">Logistics jobs</h2>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

