<div class="col-8 col-lg-6">
  <h4 class="fw-semibold text-center mb-4">
    Update auction
    <button type="button" class="my-5 btn btn-sm btn-warning float-end" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Delete auction</button>
  </h4>
  <%= form_with(model: @auction, remote: true, method: :patch, data: { turbo: false }) do |f| %>
    <div class="row g-3 mt-4 text-dark">
      <%= render 'partials/error_messages', object: f.object %>

      <div class="col-sm-12">
        <%= f.label 'Title', class: 'form-label' %>
        <%= f.text_field :title, class: 'form-control', required: true %>
      </div>

      <div class="col-sm-12">
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_area :description, class: 'form-control', required: true %>
      </div>

      <div class="col-sm-12">
        <%= f.label 'Additional notes', class: 'form-label' %>
        <%= f.text_area :notes, class: 'form-control' %>
      </div>

      <div class="col-sm-6 mb-2">
        <%= f.label "Auction start date", class: 'form-label' %>
        <%= f.datetime_field :start, class: 'form-control', required: true %>
      </div>

      <div class="col-sm-6">
        <%= f.label 'Auction deadline date', class: 'form-label' %>
        <%= f.datetime_field :deadline, class: 'form-control', required: true %>
      </div>

      <div class="col-sm-6">
        <%= f.label :location, class: 'form-label' %>
        <%= f.text_field :location, class: 'form-control', value: current_company.location, required: true %>
      </div>

      <div class="col-6 mb-2">
        <%= f.label 'Banner image', class: 'form-label' %>
        <div class="image-preview">
          <% if @auction.image.attached? %>
          <%= image_tag @auction.image, class: "bd-placeholder-img rounded-top img-fluid",
                        width: '100%' %>

        <% else %>
          <%= f.label 'Add an image', class: 'form-label' %>
        <% end %>
        </div>

        <%= f.file_field :image, class: 'form-control rounded-bottom', id: 'image-input' %>
      </div>

      <div class="col-sm-3"></div>

      <%= f.submit "Save Changes", class: "col-sm-5 btn btn-primary btn-md" %>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete auction !</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The auction will be deleted along with the lots associated with it
        and the bids placed. The biders will be notified of this action
      </div>
      <div class="modal-footer">
        <%= link_to "Delete", @auction, method: :delete, data: { "turbo": :false },
                    class: "text-light rounded p-2 bg-danger text-decoration-none" %>

      </div>
    </div>
  </div>
</div>