<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @lots.each do |lot| %>
      <div class="col-md-3">
      <div class="card shadow">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="175" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <h5 class="h5 fw-bold">
            <%= lot.title.truncate(10) %>
            <small class="text-primary float-end">LOT <%= lot.lot_number %></small>
          </h5>

          <p class="text-primary" data-deadline="<%= lot.auction.deadline %>" id="auction-countdown"></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to 'View Lot', '#', class: 'btn btn-sm btn-outline-primary' %>
              <%= link_to 'Bid', '#', class: 'btn btn-sm btn-primary' %>
            </div>
            <% if lot.collected?(current_company.id) %>
              <i class="bi-heart-fill text-primary h5"></i>
            <% else %>
              <i class="bi-heart text-primary h5"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>