<% pdf_path = data[:pdf_path] %>
<% title = data[:document_title] %>
<% modal_id = data[:modal_id]%>


<div class="modal fade" id="<%= modal_id%>" tabindex="-1" aria-labelledby="<%= modal_id%>" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="<%= modal_id%>"><%= title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <object data="<%= pdf_path %>" type="application/pdf" width="100%" height="100%"></object>
      </div>
    </div>
  </div>
</div>
