<% provide(:title, "Log in") %>

<div class="container">
  <div class="row justify-content-center g-5 px-5">
    <div class="col-md-7 col-lg-8">
      <h4 class="fw-bold ">Sign in to your account!</h4>
      <small class="mb-5">
        Are you new?
        <%= link_to "Create an account", new_company_registration_path, class: "text-primary text-decoration-none" %>
        for your business instead.
      </small>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
          <div class="row g-3 my-4 text-dark">
            <div class="col-10 mb-2">
              <%= f.label :email_address, class: 'form-label' %>
              <%= f.email_field :email, class: 'form-control', placeholder: "you@example.com" %>
            </div>

            <div class="col-10 mb-2">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>

            <div class="form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label 'Remember me on this computer.', class:"form-check-label" %>
            </div>

            <div class="col-12">
              <%= f.submit "Log in", class: "btn btn-primary btn-md" %>
            </div>
          </div>
      <% end %>

      <span class="text-muted">Forgot password?
        <%= link_to "Reset it", new_password_path(resource_name), class: "text-primary text-decoration-none" %>
        to a new one.
      </span>

    </div>
  </div>
</div>