<h4 class="fw-semibold text-center">LOTS AVAILABLE</h4>
<div class="container">
  <div class="row d-flex flex-wrap justify-content-center">
    <% @collections.each do |lot| %>
      <div class="border border-secondary-subtle p-2 my-3 col-sm-3 card rounded shadow mx-2">
        <div class="border-bottom border-dark-subtle">
          <h4 class="h5 fw-bold">
            LOT NUMBER: <%= lot.lot_number %>
            <%= link_to collect_auction_lot_path(lot.auction, lot), data: {turbo_method: :post} do %>
              <% if lot.collected?(current_company.id) %>
                <i class="bi-heart-fill text-primary h5 float-end"></i>
              <% else %>
                <i class="bi-heart text-primary h5 float-end"></i>
              <% end %>
            <% end %>
          </h4>
        </div>
        <h2 class="card-title my-0">
          <%= lot.title %>
        </h2>

        <strong class="text-primary-emphasis my-0" data-deadline="<%= lot.auction.deadline %>" id="auction-countdown"></strong>

        <span class="text-muted my-1">
          <strong class="text-primary-emphasis">Description: </strong>
          <%= lot.description %>
        </span>
        <span class="text-secondary my-0">
          <strong class="text-primary-emphasis">Number of Items: </strong>
          <%= lot.quantity %>
        </span>
        <p class="text-secondary my-0">
          <strong class="text-primary-emphasis">Condition of items: </strong>
          <%= lot.condition %>
        </p>

        <% if lot.bids.any? %>
          <span class="h6 fw-bold float-end text-primary-emphasis my-0">
            Current bid: $<%= lot.bids.last.amount %>.00
          </span>
        <% else %>
          <span class="h6 fw-bold float-end text-primary-emphasis my-0">
            Asking price: $<%= lot.asking_price %>.00
          </span>
        <% end %>

        <div class="d-flex justify-content-center mt-3">
          <% if lot.auction.registered?(current_company) %>
            <div class="btn-group col-md-10">
              <%= link_to "View Lot", auction_lot_path(lot.auction, lot), class: 'btn fw-bold btn-sm btn-primary' %>
              <button type="button" class="btn fw-bold btn-sm btn-outline-primary" data-bs-toggle="modal"
                      data-bs-target=<%= "#new-bid-#{lot.lot_number}" %>>Place a bid</button>
            </div>
          <% else %>
            <%= link_to "View Lot", auction_lot_path(lot.auction, lot), class: 'col-md-10 btn fw-bold btn-sm btn-primary' %>
          <% end %>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id=<%= "new-bid-#{lot.lot_number}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><%= "Lot number #{lot.lot_number} Bid" %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="d-flex justify-content-center align-items-center">
                <div class="col-8 col-lg-6">
                  <h4 class="fw-semibold text-center">Create offer</h4>
                  <%= form_with(model: @bid, url: auction_lot_bids_url(lot.auction, lot), data: { 'turbo-method': :post }) do |f| %>
                    <div class="row g-3 mt-4 text-dark">
                      <%= render 'partials/error_messages', object: f.object %>

                      <div class="col-sm-12 input-group">
                        <%= f.label 'Total Amount ($)', class: 'input-group-text text-primary' %>
                        <%= f.number_field :amount, class: 'form-control', required: true %>
                      </div>

                      <div class="col-sm-12">
                        <%= f.label :delivery_options, class: 'form-label' %>
                        <%= select_tag :delivery_options, options_for_select(['included in amount', 'unavailable']), class: 'form-select', required: true %>
                      </div>

                      <div class="col-sm-6 mb-2">
                        <%= f.label "Product images", class: 'form-label' %>
                        <%= f.file_field :images, accept: 'image/*', multiple: true, class: 'form-control', required: true %>
                      </div>

                      <div class="text-center ">
                        <%= f.submit "Place bid", class: "col-sm-5 btn btn-primary btn-md" %>
                      </div>


                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
