<% provide(:title, "Change password?") %>

<div class="container my-5">
  <div class="row justify-content-center g-5 px-5">
    <%= render "companies/shared/error_messages", resource: resource %>
    <div class="col-md-7 col-lg-8">
      <h4 class="fw-bold ">Change your password?</h4>
      <small class="mb-5">
        Set up your new password for your account.
      </small>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="row g-3 my-4 text-dark">
          <div class="col-6 mb-2">
            <%= f.label :password, 'New password', class: 'form-label' %>
            <% if @minimum_password_length %>
              <em>(Minimum characters: <%= @minimum_password_length %>)</em><br />
            <% end %>
            <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "new-password" %>
          </div>

           <div class="col-6 mb-2">
            <%= f.label :password_confirmation, 'Confirm new password', class: 'form-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control', autofocus: true, autocomplete: "new-password" %>
          </div>
          <div class="col-12">
            <%= f.submit "Change my password", class: "btn btn-primary btn-md" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>