<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "count_down", "data-turbo-track": "reload", defer: true %>
    <%= render 'partials/icons' %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render 'partials/header' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    <%= render 'partials/footer'%>
  </body>
</html>
